<div class="row">
    <div class="col-12 mt-3">
      <h3 class="text-center mb-4">New Movie</h3>
      <div class="row">

<div class="col-md-8 offset-md-2">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                  <label for="title">Title</label>
                  <input type="text" class="form-control" name="title" [(ngModel)] = "movie.title" aria-describedby="title" onfocus>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Image</label>
                  <input type="url" class="form-control" name="img" [(ngModel)] = "movie.img">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                      <label for="category">Category</label>
                      <select name="category" class="form-control" [(ngModel)] = "movie.category">
                        <option selected>Choose...</option>
                        <option>drama</option>
                        <option>history</option>
                        <option>fiction</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label for="status">Status</label>
                      <select id="status" class="form-control" [(ngModel)] = "movie.status">
                        <option selected>Choose...</option>
                        <option>watched</option>
                        <option>non_watched</option>
                        <option>favourites</option>
                        <option>unsettled</option>
                      </select>
                    </div>
                    </div>
                <button type="submit" class="btn btn-primary" (click) = "saveNewMovie()">Submit</button>
              </form>
        </div>
    </div>

</div>
</div>
</div>
</div>
