/* You can add global styles to this file, and also import other style files */

.imagen{
    height: 170px;
    width: 350px;
}

.section-title{
    margin-bottom: 30px;
    border-bottom: 2px #494449 solid;
    padding-bottom: 5px;
}