

<div class="container">
    <!-- Quitar la etiqueta form y activar una funcion con un fetch que conecte con el back-->

    <div class="form-group">
        <label for="name">Name or Email address</label>
        <input type="email" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Username or Email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
    </div>
    <small id="emailHelp" class="form-text text-muted mb-3">insert numbers and letters.</small>
    <input type="button" class="btn btn-primary" id="btnSubmit" value="Login">

</div>
<script type="text/javascript">
    function hola(){
       console.log("Hola");
   }
   document.getElementById["btnSubmit"].addEventListener("click",hola);
</script>