
<div class="row">
    <div class="col-12 mt-3">
      <h2 class="text-center mb-4">Películas</h2>
      <div class="row">
        <ng-container class="col-4" *ngFor="let movie of movies">
            <div class="card" style="width: 18rem;">
              <img [src]="movie.img" class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text">
                  <small>{{ movie.category }}</small>
                </p>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="watched">
                    <label class="form-check-label" for="watched">watched</label>
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="favourites">
                    <label class="form-check-label" for="favourites">favourites</label>
                  </div>
                  <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" name="unsettled">
                    <label class="form-check-label" for="unsettled">unsettled</label>
                  </div>
                <a
                  [routerLink]="['/movie-detail', movie.id]"
                  class="btn btn-primary"
                  >Go to detail</a
                >
              </div>
          </div>
        </ng-container>
      </div>
    </div>